@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    scroll-behavior: smooth;
}
body{ 
    background-color:white;
    margin: 0 0 0 0;
    font-family: 'Lato', sans-serif;
    height: auto;
    width:auto;
   
}

.header {
    background-color:#333a40;
    color:#a3aaae;
    height:90px;
    padding-top:30px;
}


#logo {
    font-size: 2.9rem;
    text-align:center;

}

#links {

    font-size: 1.6rem;
    background-color:#d0d3d4;
    color:#323e48;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:20px;
    text-align:center;
   
    
}

#links a {
    text-decoration:none;
    color:#323e48;
    
}

.banner {
    background-color:#ffffff;
    padding: 0px;
    text-align:center;
}

.banner img{
    width: 100%;
}

.blog {
    background-color:#ffffff;
    display:grid;
    grid-template-columns: 1fr 1fr; 
    height:500px;
    padding-top:10px;

    
}

#blog-posts {
    color: #d0d3d4;
    text-align:center;
    font-size: 2rem;
    grid-column:1/3;
    padding-top:20px;
}

#pantry {
    margin-left:80px;
}

#pantry img{
    height:450px;
    width:auto;
    margin-left:85px;

}

#groceries img{
    height:450px;
    width:auto;
    margin-left:85px;

}

.captions{
    background-color:white;
    color:#a3aaae;
    height: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:10px;
    margin-bottom:20px;
    text-align:center;
    
}
#pantry-grey{
    background-color:#d0d3d4;
    height:50px;
    width:350px;
    margin-left:150px;
    margin-right:25px;
    margin-top:10px;
    padding-top:20px;
} 
#pantry-grey a{
    color:#a3aaae;
    margin:12px;
    font-size:1.1rem;
    text-decoration: none;
}

#groceries-grey{
    background-color:#d0d3d4;
    height:50px;
    width:350px;
    margin-right:45px;
    margin-left:85px;
    margin-bottom:10px;
    margin-top:10px;
    padding-top:20px;
    
    
}
#groceries-grey a{
    color:#a3aaae;
    margin:12px;
    font-size:1.1rem;
    text-decoration:none;
    
}

#recipes{
    text-align:center;
    background-color:#d0d3d4;
    height:100px;
    font-size:2rem;
    color:#a3aaae;
    margin-top:65px;
    padding-top:30px;
}



.recipes-img {
    background-color:#d0d3d4;
    height:1050px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left:40px;
    

}

#porridge {
    height:200px;
    width:100px;
    margin-left:50px;
}

#porridge img{
    width:265px;
    height:310px;
    
}


#porridge-words{
    color:#a3aaae;
    text-align:center;
    width:265px;
    
}

#smoothie-bowl{
    margin-left:40px;
}

#smoothie-bowl img {
    width:265px;
    height:310px;
    
}

#smoothie-words{
    color:#a3aaae;
    text-align:center;
    width:265px;
}

#museli{
    height:200px;
    width:170px;
    margin-left:25px;
}

#museli img{
    width:265px;
    height:310px;
}
#museli-words{
    color:#a3aaae;
    text-align:center;
    width:265px;
}

#vege-sandwich{
    height:200px;
    width:100px;
    margin-left:50px;
   
}

#vege-sandwich img{
   width:265px;
    height:310px;
   
}
#vege-words{
    color:#a3aaae;
    text-align:center;
    width:265px;
}

#soup{
    height:100px;
    width:50px;
    margin-left:40px;
}
#soup img{
    width:265px;
    height:310px;
}

#soup-words{
    color:#a3aaae;
    text-align:center;
    width:265px;
}

#poached-egg{
    height:100px;
    width:50px;
    margin-left:25px;
    
}
#poached-egg img{
    width:265px;
    height:310px;
}

#egg-words{
    color:#a3aaae;
    text-align:center;
    width:265px;
}

#about-me{
    background-color:#eccdd5;
    font-size:2rem;
    color:#d9aab1;
    text-align:center;
    
}
#about-heading{
   padding:20px;

}

#about-core{
    background-color:#d9a9b1;
    display:grid;
    grid-template-columns: 25% 50% 25%;
    padding-bottom:30px;
}

#lara img{
    height:250px;
    width:auto;
    padding-left:75px;
    
    
}

p {
    text-align: center;
    color:#eccdd5;
    padding:10px;
    font-size:1rem;
}

#leavers img{
    height:250px;
    width:auto;
    padding-left:10px;
}

#bottom-grey{
    background-color:#333a40;
    height:70px;
}



